@model LoginViewModel
<div style="height:900px" class="d-flex justify-content-center container">
    <div class="form-signin w-auto m-auto">
        <form method="post" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Name">
                <label asp-for="Name">Login</label>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Password">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input asp-for="RememberMe"/> Remember me
                </label>
            </div>
            <input value="Войти" class="w-100 btn btn-lg btn-primary" type="submit">
            <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
        </form>
    </div>
</div>
